# 날씨에 따른 교통사고 예측 시스템 만들기 프로젝트

### 1. 데이터 가져오기

##### 1.1 날씨 데이터 가져오기

In [1]:
import pandas as pd

OBS_ASOS_TIM_20240524114001 = pd.read_csv('OBS_ASOS_TIM_20240524114001.csv', encoding='euc-kr')
OBS_ASOS_TIM_20240524114001.head()

    지점 지점명                일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)
0  108  서울  2020-01-01 01:00    -5.9      NaN      1.7     40     NaN
1  108  서울  2020-01-01 02:00    -5.7      NaN      0.1     42     NaN
2  108  서울  2020-01-01 03:00    -5.6      0.0      0.0     46     NaN
3  108  서울  2020-01-01 04:00    -5.4      NaN      0.0     50     NaN
4  108  서울  2020-01-01 05:00    -5.2      NaN      0.0     55     NaN

##### 1.2 교통사고 데이터 가져오기

In [2]:
도로교통공단_사망교통사고정보_2020 = pd.read_csv('도로교통공단_사망교통사고정보_2020.csv', encoding='euc-kr')
도로교통공단_사망교통사고정보_2020.head()

,발생년,발생년월일시,주야,요일,사망자수,부상자수,중상자수,경상자수,부상신고자수,발생지시도,...,사고유형,가해자법규위반,도로형태_대분류,도로형태,가해자_당사자종별,피해자_당사자종별,발생위치X_UTMK,발생위치Y_UTMK,경도,위도
0,2020,2020-01-01 05,야,수,1,0,0,0,0,서울,...,차도통행중,안전운전 의무 불이행,단일로,기타단일로,승용차,보행자,959928.0,1943154.0,127.046727,37.486761
1,2020,2020-01-01 05,야,수,1,0,0,0,0,경기,...,추돌,안전운전 의무 불이행,단일로,기타단일로,승용차,화물차,951237.0,1916995.0,126.950147,37.250560
2,2020,2020-01-01 07,주,수,1,0,0,0,0,충남,...,횡단중,안전운전 의무 불이행,단일로,기타단일로,승용차,보행자,967688.0,1869920.0,127.137666,36.826933
3,2020,2020-01-01 10,주,수,1,0,0,0,0,경남,...,공작물충돌,안전운전 의무 불이행,단일로,기타단일로,화물차,없음,1038413.0,1748968.0,127.924796,35.736290
4,2020,2020-01-01 11,주,수,1,0,0,0,0,경기,...,도로이탈 추락,안전운전 의무 불이행,단일로,기타단일로,농기계,없음,1011197.0,1900537.0,127.626014,37.103415

### 2. 필요한 차원 데이터 셋으로 저장하기

##### 2.1 날씨 데이터 필요한 차원 데이터 셋으로 저장하기

In [3]:
weather_2020 = OBS_ASOS_TIM_20240524114001.drop(['지점','지점명'], axis=1)
weather_2020.head()

                 일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)
0  2020-01-01 01:00    -5.9      NaN      1.7     40     NaN
1  2020-01-01 02:00    -5.7      NaN      0.1     42     NaN
2  2020-01-01 03:00    -5.6      0.0      0.0     46     NaN
3  2020-01-01 04:00    -5.4      NaN      0.0     50     NaN
4  2020-01-01 05:00    -5.2      NaN      0.0     55     NaN

In [4]:
weather_2020.rename(columns={'일시':'년월일시'}, inplace=True)
weather_2020.head()

               년월일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)
0  2020-01-01 01:00    -5.9      NaN      1.7     40     NaN
1  2020-01-01 02:00    -5.7      NaN      0.1     42     NaN
2  2020-01-01 03:00    -5.6      0.0      0.0     46     NaN
3  2020-01-01 04:00    -5.4      NaN      0.0     50     NaN
4  2020-01-01 05:00    -5.2      NaN      0.0     55     NaN

In [5]:
weather_2020.to_csv('weather_2020.csv', index=False)

In [6]:
weather_2020 = pd.read_csv('weather_2020.csv')

weather_2020.head()

               년월일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)
0  2020-01-01 01:00    -5.9      NaN      1.7     40     NaN
1  2020-01-01 02:00    -5.7      NaN      0.1     42     NaN
2  2020-01-01 03:00    -5.6      0.0      0.0     46     NaN
3  2020-01-01 04:00    -5.4      NaN      0.0     50     NaN
4  2020-01-01 05:00    -5.2      NaN      0.0     55     NaN

##### 2.2 교통사고 데이터 필요한 차원 데이터 셋으로 저장하기

In [7]:
trafficAccident_2020_seoul = 도로교통공단_사망교통사고정보_2020[['발생년월일시','사망자수']]
trafficAccident_2020_seoul

             발생년월일시  사망자수
0     2020-01-01 05     1
1     2020-01-01 05     1
2     2020-01-01 07     1
3     2020-01-01 10     1
4     2020-01-01 11     1
...             ...   ...
2978  2020-12-31 11     1
2979  2020-12-31 18     1
2980  2020-12-31 19     1
2981  2020-12-31 21     1
2982  2020-12-31 21     1

[2983 rows x 2 columns]

In [8]:
trafficAccident_2020_seoul.to_csv('trafficAccident_2020_seoul.csv', index=False)

In [9]:
trafficAccident_2020_seoul = pd.read_csv('trafficAccident_2020_seoul.csv')
trafficAccident_2020_seoul.head()

          발생년월일시  사망자수
0  2020-01-01 05     1
1  2020-01-01 05     1
2  2020-01-01 07     1
3  2020-01-01 10     1
4  2020-01-01 11     1

### 2. 데이터 전처리

##### 2-1. 교통사고 데이터 셋 전처리

In [10]:
trafficAccident_2020_seoul = pd.read_csv('trafficAccident_2020_seoul.csv')
trafficAccident_2020_seoul.head()

          발생년월일시  사망자수
0  2020-01-01 05     1
1  2020-01-01 05     1
2  2020-01-01 07     1
3  2020-01-01 10     1
4  2020-01-01 11     1

In [11]:
trafficAccident_2020_seoul['발생년월일시']=trafficAccident_2020_seoul['발생년월일시'].apply(lambda x: pd.to_datetime(str(x), format='%Y-%m-%d %H'))
trafficAccident_2020_seoul.head()

               발생년월일시  사망자수
0 2020-01-01 05:00:00     1
1 2020-01-01 05:00:00     1
2 2020-01-01 07:00:00     1
3 2020-01-01 10:00:00     1
4 2020-01-01 11:00:00     1

In [12]:
trafficAccident_2020_seoul['발생년월일시']=pd.to_datetime(trafficAccident_2020_seoul['발생년월일시']).dt.floor('h')
trafficAccident_2020_seoul.head()

               발생년월일시  사망자수
0 2020-01-01 05:00:00     1
1 2020-01-01 05:00:00     1
2 2020-01-01 07:00:00     1
3 2020-01-01 10:00:00     1
4 2020-01-01 11:00:00     1

In [13]:
trafficAccident_2020_seoul.rename(columns={'발생년월일시':'년월일시'}, inplace=True)
trafficAccident_2020_seoul.head()

                 년월일시  사망자수
0 2020-01-01 05:00:00     1
1 2020-01-01 05:00:00     1
2 2020-01-01 07:00:00     1
3 2020-01-01 10:00:00     1
4 2020-01-01 11:00:00     1

In [14]:
# trafficAccident_2020_seoul.set_index(trafficAccident_2020_seoul['년월일시'], inplace=True)
# trafficAccident_2020_seoul.head()
# 인덱스 설정 (올바른 방법)
trafficAccident_2020_seoul.set_index('년월일시', inplace=True)
trafficAccident_2020_seoul.head()

                     사망자수
년월일시
2020-01-01 05:00:00     1
2020-01-01 05:00:00     1
2020-01-01 07:00:00     1
2020-01-01 10:00:00     1
2020-01-01 11:00:00     1

In [15]:
# 중복 컬럼 제거 (년월일시 컬럼이 인덱스로 설정되었으므로 제거)
# 이미 인덱스로 설정되었으므로 별도 삭제 불필요
# trafficAccident_2020_seoul.drop('년월일시', axis=1)
# trafficAccident_2020_seoul.head()

In [16]:
import numpy as np
# trafficAccident_2020_seoul=trafficAccident_2020_seoul.resample('h').apply({'사망자수':np.sum}, axis=1).fillna(0)
trafficAccident_2020_seoul = trafficAccident_2020_seoul.resample('h').agg({'사망자수': 'sum'}).fillna(0)
trafficAccident_2020_seoul.head()

                     사망자수
년월일시
2020-01-01 05:00:00     2
2020-01-01 06:00:00     0
2020-01-01 07:00:00     1
2020-01-01 08:00:00     0
2020-01-01 09:00:00     0

In [17]:
weather_2020.head()

               년월일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)
0  2020-01-01 01:00    -5.9      NaN      1.7     40     NaN
1  2020-01-01 02:00    -5.7      NaN      0.1     42     NaN
2  2020-01-01 03:00    -5.6      0.0      0.0     46     NaN
3  2020-01-01 04:00    -5.4      NaN      0.0     50     NaN
4  2020-01-01 05:00    -5.2      NaN      0.0     55     NaN

In [18]:
trafficAccident_2020_seoul.head()

                     사망자수
년월일시
2020-01-01 05:00:00     2
2020-01-01 06:00:00     0
2020-01-01 07:00:00     1
2020-01-01 08:00:00     0
2020-01-01 09:00:00     0

In [19]:
preparation_data=pd.merge(
    weather_2020,
    trafficAccident_2020_seoul,
    how='outer',
    left_index=True,
    right_index=True
)
preparation_data.head()

               년월일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)  사망자수
0  2020-01-01 01:00    -5.9      NaN      1.7   40.0     NaN   NaN
1  2020-01-01 02:00    -5.7      NaN      0.1   42.0     NaN   NaN
2  2020-01-01 03:00    -5.6      0.0      0.0   46.0     NaN   NaN
3  2020-01-01 04:00    -5.4      NaN      0.0   50.0     NaN   NaN
4  2020-01-01 05:00    -5.2      NaN      0.0   55.0     NaN   NaN

In [20]:
preparation_data=preparation_data.fillna(0)
preparation_data.head()

               년월일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)  사망자수
0  2020-01-01 01:00    -5.9      0.0      1.7   40.0     0.0   0.0
1  2020-01-01 02:00    -5.7      0.0      0.1   42.0     0.0   0.0
2  2020-01-01 03:00    -5.6      0.0      0.0   46.0     0.0   0.0
3  2020-01-01 04:00    -5.4      0.0      0.0   50.0     0.0   0.0
4  2020-01-01 05:00    -5.2      0.0      0.0   55.0     0.0   0.0

In [21]:
preparation_data['사망자수']=preparation_data['사망자수'].astype(int)
preparation_data.head()

               년월일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)  사망자수
0  2020-01-01 01:00    -5.9      0.0      1.7   40.0     0.0     0
1  2020-01-01 02:00    -5.7      0.0      0.1   42.0     0.0     0
2  2020-01-01 03:00    -5.6      0.0      0.0   46.0     0.0     0
3  2020-01-01 04:00    -5.4      0.0      0.0   50.0     0.0     0
4  2020-01-01 05:00    -5.2      0.0      0.0   55.0     0.0     0

In [22]:
preparation_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8801 entries, 0 to 2020-12-31 21:00:00
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   년월일시     8801 non-null   object
 1   기온(°C)   8801 non-null   float64
 2   강수량(mm)  8801 non-null   float64
 3   풍속(m/s)  8801 non-null   float64
 4   습도(%)    8801 non-null   float64
 5   적설(cm)   8801 non-null   float64
 6   사망자수     8801 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 550.1+ KB

In [23]:
preparation_data.to_csv('preparation_data.csv', index=False)

In [24]:
# import os
# os.getcwd()
# os.chdir('')
# os.listdir()

In [25]:
import pandas as pd
import numpy as np
#import tensorflow as tf
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

preparation_data=pd.read_csv('preparation_data.csv')
preparation_data.head()

WARNING:tensorflow:From C:\Users\20323\AppData\Local\Temp\ipykernel_7256\3080451226.py:5: The name tf.disable_v2_behavior is deprecated. Please use tf.compat.v1.disable_v2_behavior instead.

WARNING:tensorflow:From c:\DEV\envs\py3_10_tf\lib\site-packages\tensorflow\python\compat\v2_compat.py:98: disable_resource_variables (from tensorflow.python.ops.resource_variables_toggle) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

               년월일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)  사망자수
0  2020-01-01 01:00    -5.9      0.0      1.7   40.0     0.0     0
1  2020-01-01 02:00    -5.7      0.0      0.1   42.0     0.0     0
2  2020-01-01 03:00    -5.6      0.0      0.0   46.0     0.0     0
3  2020-01-01 04:00    -5.4      0.0      0.0   50.0     0.0     0
4  2020-01-01 05:00    -5.2      0.0      0.0   55.0     0.0     0

In [27]:
import pandas as pd
import numpy as np

# xy=np.array(preparation_data, dtype=np.float32)
# preparation_data에서 숫자 컬럼만 선택
numeric_columns = ['기온(°C)', '강수량(mm)', '풍속(m/s)', '습도(%)', '적설(cm)', '사망자수']
xy = np.array(preparation_data[numeric_columns], dtype=np.float32)
print(xy)

x_data=xy[:, :-1]
y_data=xy[:, -1:]
print(x_data)
print(y_data)

[[-5.9  0.   1.7 40.   0.   0. ]
 [-5.7  0.   0.1 42.   0.   0. ]
 [-5.6  0.   0.  46.   0.   0. ]
 ...
 [ 0.   0.   0.   0.   0.   1. ]
 [ 0.   0.   0.   0.   0.   0. ]
 [ 0.   0.   0.   0.   0.   2. ]]
[[-5.9  0.   1.7 40.   0. ]
 [-5.7  0.   0.1 42.   0. ]
 [-5.6  0.   0.  46.   0. ]
 ...
 [ 0.   0.   0.   0.   0. ]
 [ 0.   0.   0.   0.   0. ]
 [ 0.   0.   0.   0.   0. ]]
[[0.]
 [0.]
 [0.]
 ...
 [1.]
 [0.]
 [2.]]

In [28]:
X=tf.placeholder(tf.float32, shape=[None, 5])
y=tf.placeholder(tf.float32, shape=[None, 1])

W=tf.Variable(tf.random_normal([5,1]), name="weight")
b=tf.Variable(tf.random_normal([1]), name="bias")

hypothesis=tf.matmul(X, W) + b

cost=tf.reduce_mean(tf.square(hypothesis-y))

optimizer=tf.train.GradientDescentOptimizer(learning_rate=0.000005)
train=optimizer.minimize(cost)

sess=tf.Session()
init=tf.global_variables_initializer()
sess.run(init)

WARNING:tensorflow:From C:\Users\20323\AppData\Local\Temp\ipykernel_7256\1590150836.py:11: The name tf.train.GradientDescentOptimizer is deprecated. Please use tf.compat.v1.train.GradientDescentOptimizer instead.

In [29]:
for step in range(100000):
    cost_opti, hypo_opti, _opti=sess.run(
        [cost, hypothesis, train],
        feed_dict={X: x_data, y: y_data}
    )
    step=step+1
    if step % 500 == 0:
        print("\n step(학습 횟수) :", step, "\n cost(예측값과 실제값의 편차) :",cost_opti)
        print("# 예측되는 사망자 수 : ", hypo_opti[0])

 step(학습 횟수) : 500
 cost(예측값과 실제값의 편차) : 3.2189798
# 예측되는 사망자 수 :  [19.875992]

 step(학습 횟수) : 1000
 cost(예측값과 실제값의 편차) : 2.9660444
# 예측되는 사망자 수 :  [18.87214]

 step(학습 횟수) : 1500
 cost(예측값과 실제값의 편차) : 2.739267
# 예측되는 사망자 수 :  [17.922441]

 step(학습 횟수) : 2000
 cost(예측값과 실제값의 편차) : 2.535979
# 예측되는 사망자 수 :  [17.02411]

 step(학습 횟수) : 2500
 cost(예측값과 실제값의 편차) : 2.3536491
# 예측되는 사망자 수 :  [16.174303]

 step(학습 횟수) : 3000
 cost(예측값과 실제값의 편차) : 2.1900952
# 예측되는 사망자 수 :  [15.370319]

 step(학습 횟수) : 3500
 cost(예측값과 실제값의 편차) : 2.0433478
# 예측되는 사망자 수 :  [14.609699]

 step(학습 횟수) : 4000
 cost(예측값과 실제값의 편차) : 1.9116305
# 예측되는 사망자 수 :  [13.890078]

 step(학습 횟수) : 4500
 cost(예측값과 실제값의 편차) : 1.7933804
# 예측되는 사망자 수 :  [13.209274]

 step(학습 횟수) : 5000
 cost(예측값과 실제값의 편차) : 1.6871889
# 예측되는 사망자 수 :  [12.565362]

 step(학습 횟수) : 5500
 cost(예측값과 실제값의 편차) : 1.5917842
# 예측되는 사망자 수 :  [11.956169]

 step(학습 횟수) : 6000
 cost(예측값과 실제값의 편차) : 1.506033
# 예측되는 사망자 수 :  [11.379815]

 step(학습 횟수) : 6500
 cost(예측값과 실제값의 편차) : 1.428922
# 예측되는 사망자 수 :  [10.834533]

 step(학습 횟수) : 7000
 cost(예측값과 실제값의 편차) : 1.3595514
# 예측되는 사망자 수 :  [10.31865]

 step(학습 횟수) : 7500
 cost(예측값과 실제값의 편차) : 1.2971041
# 예측되는 사망자 수 :  [9.8305645]

 step(학습 횟수) : 8000
 cost(예측값과 실제값의 편차) : 1.2408613
# 예측되는 사망자 수 :  [9.368761]

 step(학습 횟수) : 8500
 cost(예측값과 실제값의 편차) : 1.1901702
# 예측되는 사망자 수 :  [8.931815]

 step(학습 횟수) : 9000
 cost(예측값과 실제값의 편차) : 1.1444645
# 예측되는 사망자 수 :  [8.51855]

 step(학습 횟수) : 9500
 cost(예측값과 실제값의 편차) : 1.1032133
# 예측되는 사망자 수 :  [8.127628]

 step(학습 횟수) : 10000
 cost(예측값과 실제값의 편차) : 1.0659484
# 예측되는 사망자 수 :  [7.7577357]

 step(학습 횟수) : 10500
 cost(예측값과 실제값의 편차) : 1.032253
# 예측되는 사망자 수 :  [7.40781]

 step(학습 횟수) : 11000
 cost(예측값과 실제값의 편차) : 1.0017551
# 예측되는 사망자 수 :  [7.076659]

 step(학습 횟수) : 11500
 cost(예측값과 실제값의 편차) : 0.97413504
# 예측되는 사망자 수 :  [6.76341]

 step(학습 횟수) : 12000
 cost(예측값과 실제값의 편차) : 0.949078
# 예측되는 사망자 수 :  [6.46694]

 step(학습 횟수) : 12500
 cost(예측값과 실제값의 편차) : 0.92632043
# 예측되는 사망자 수 :  [6.1865034]

 step(학습 횟수) : 13000
 cost(예측값과 실제값의 편차) : 0.90562505
# 예측되는 사망자 수 :  [5.921081]

 step(학습 횟수) : 13500
 cost(예측값과 실제값의 편차) : 0.88678616
# 예측되는 사망자 수 :  [5.669991]

 step(학습 횟수) : 14000
 cost(예측값과 실제값의 편차) : 0.86959964
# 예측되는 사망자 수 :  [5.432374]

 step(학습 횟수) : 14500
 cost(예측값과 실제값의 편차) : 0.8538991
# 예측되는 사망자 수 :  [5.2074895]

 step(학습 횟수) : 15000
 cost(예측값과 실제값의 편차) : 0.83954036
# 예측되는 사망자 수 :  [4.99478]

 step(학습 횟수) : 15500
 cost(예측값과 실제값의 편차) : 0.8263694
# 예측되는 사망자 수 :  [4.7934375]

 step(학습 횟수) : 16000
 cost(예측값과 실제값의 편차) : 0.81427705
# 예측되는 사망자 수 :  [4.6028705]

 step(학습 횟수) : 16500
 cost(예측값과 실제값의 편차) : 0.80314934
# 예측되는 사망자 수 :  [4.4226403]

 step(학습 횟수) : 17000
 cost(예측값과 실제값의 편차) : 0.79287964
# 예측되는 사망자 수 :  [4.252031]

 step(학습 횟수) : 17500
 cost(예측값과 실제값의 편차) : 0.7834038
# 예측되는 사망자 수 :  [4.090737]

 step(학습 횟수) : 18000
 cost(예측값과 실제값의 편차) : 0.77461547
# 예측되는 사망자 수 :  [3.9381177]

 step(학습 횟수) : 18500
 cost(예측값과 실제값의 편차) : 0.76646084
# 예측되는 사망자 수 :  [3.7937512]

 step(학습 횟수) : 19000
 cost(예측값과 실제값의 편차) : 0.75886995
# 예측되는 사망자 수 :  [3.6570902]

 step(학습 횟수) : 19500
 cost(예측값과 실제값의 편차) : 0.7517835
# 예측되는 사망자 수 :  [3.5277143]

 step(학습 횟수) : 20000
 cost(예측값과 실제값의 편차) : 0.7451619
# 예측되는 사망자 수 :  [3.40524]

 step(학습 횟수) : 20500
 cost(예측값과 실제값의 편차) : 0.7389423
# 예측되는 사망자 수 :  [3.2894154]

 step(학습 횟수) : 21000
 cost(예측값과 실제값의 편차) : 0.7331095
# 예측되는 사망자 수 :  [3.1798134]

 step(학습 횟수) : 21500
 cost(예측값과 실제값의 편차) : 0.72759706
# 예측되는 사망자 수 :  [3.0760367]

 step(학습 횟수) : 22000
 cost(예측값과 실제값의 편차) : 0.72240007
# 예측되는 사망자 수 :  [2.9777932]

 step(학습 횟수) : 22500
 cost(예측값과 실제값의 편차) : 0.71746665
# 예측되는 사망자 수 :  [2.8847637]

 step(학습 횟수) : 23000
 cost(예측값과 실제값의 편차) : 0.7127908
# 예측되는 사망자 수 :  [2.7966862]

 step(학습 횟수) : 23500
 cost(예측값과 실제값의 편차) : 0.7083306
# 예측되는 사망자 수 :  [2.713369]

 step(학습 횟수) : 24000
 cost(예측값과 실제값의 편차) : 0.70408195
# 예측되는 사망자 수 :  [2.6345642]

 step(학습 횟수) : 24500
 cost(예측값과 실제값의 편차) : 0.7000113
# 예측되는 사망자 수 :  [2.5599349]

 step(학습 횟수) : 25000
 cost(예측값과 실제값의 편차) : 0.69611466
# 예측되는 사망자 수 :  [2.4892716]

 step(학습 횟수) : 25500
 cost(예측값과 실제값의 편차) : 0.6923627
# 예측되는 사망자 수 :  [2.4223437]

 step(학습 횟수) : 26000
 cost(예측값과 실제값의 편차) : 0.6887604
# 예측되는 사망자 수 :  [2.3589675]

 step(학습 횟수) : 26500
 cost(예측값과 실제값의 편차) : 0.6852738
# 예측되는 사망자 수 :  [2.2989326]

 step(학습 횟수) : 27000
 cost(예측값과 실제값의 편차) : 0.6819161
# 예측되는 사망자 수 :  [2.2420807]

 step(학습 횟수) : 27500
 cost(예측값과 실제값의 편차) : 0.67865074
# 예측되는 사망자 수 :  [2.1882153]

 step(학습 횟수) : 28000
 cost(예측값과 실제값의 편차) : 0.6754978
# 예측되는 사망자 수 :  [2.1372013]

 step(학습 횟수) : 28500
 cost(예측값과 실제값의 편차) : 0.67242295
# 예측되는 사망자 수 :  [2.0890164]

 step(학습 횟수) : 29000
 cost(예측값과 실제값의 편차) : 0.6694415
# 예측되는 사망자 수 :  [2.043399]

 step(학습 횟수) : 29500
 cost(예측값과 실제값의 편차) : 0.6665288
# 예측되는 사망자 수 :  [2.0001767]

 step(학습 횟수) : 30000
 cost(예측값과 실제값의 편차) : 0.6636904
# 예측되는 사망자 수 :  [1.959229]

 step(학습 횟수) : 30500
 cost(예측값과 실제값의 편차) : 0.6609176
# 예측되는 사망자 수 :  [1.9204311]

 step(학습 횟수) : 31000
 cost(예측값과 실제값의 편차) : 0.6582012
# 예측되는 사망자 수 :  [1.8836625]

 step(학습 횟수) : 31500
 cost(예측값과 실제값의 편차) : 0.6555507
# 예측되는 사망자 수 :  [1.8488266]

 step(학습 횟수) : 32000
 cost(예측값과 실제값의 편차) : 0.6529409
# 예측되는 사망자 수 :  [1.815798]

 step(학습 횟수) : 32500
 cost(예측값과 실제값의 편차) : 0.65039575
# 예측되는 사망자 수 :  [1.7845087]

 step(학습 횟수) : 33000
 cost(예측값과 실제값의 편차) : 0.647887
# 예측되는 사망자 수 :  [1.754837]

 step(학습 횟수) : 33500
 cost(예측값과 실제값의 편차) : 0.645428
# 예측되는 사망자 수 :  [1.7267132]

 step(학습 횟수) : 34000
 cost(예측값과 실제값의 편차) : 0.643009
# 예측되는 사망자 수 :  [1.700047]

 step(학습 횟수) : 34500
 cost(예측값과 실제값의 편차) : 0.64062333
# 예측되는 사망자 수 :  [1.6747557]

 step(학습 횟수) : 35000
 cost(예측값과 실제값의 편차) : 0.63828665
# 예측되는 사망자 수 :  [1.650781]

 step(학습 횟수) : 35500
 cost(예측값과 실제값의 편차) : 0.6359732
# 예측되는 사망자 수 :  [1.6280304]

 step(학습 횟수) : 36000
 cost(예측값과 실제값의 편차) : 0.6337032
# 예측되는 사망자 수 :  [1.6064594]

 step(학습 횟수) : 36500
 cost(예측값과 실제값의 편차) : 0.6314626
# 예측되는 사망자 수 :  [1.58599]

 step(학습 횟수) : 37000
 cost(예측값과 실제값의 편차) : 0.62924945
# 예측되는 사망자 수 :  [1.5665638]

 step(학습 횟수) : 37500
 cost(예측값과 실제값의 편차) : 0.62707317
# 예측되는 사망자 수 :  [1.5481377]

 step(학습 횟수) : 38000
 cost(예측값과 실제값의 편차) : 0.6249163
# 예측되는 사망자 수 :  [1.5306363]

 step(학습 횟수) : 38500
 cost(예측값과 실제값의 편차) : 0.6227964
# 예측되는 사망자 수 :  [1.5140333]

 step(학습 횟수) : 39000
 cost(예측값과 실제값의 편차) : 0.62069964
# 예측되는 사망자 수 :  [1.4982646]

 step(학습 횟수) : 39500
 cost(예측값과 실제값의 편차) : 0.61862457
# 예측되는 사망자 수 :  [1.483428]

 step(학습 횟수) : 40000
 cost(예측값과 실제값의 편차) : 0.6165848
# 예측되는 사망자 수 :  [1.469384]

 step(학습 횟수) : 40500
 cost(예측값과 실제값의 편차) : 0.6145604
# 예측되는 사망자 수 :  [1.4560382]

 step(학습 횟수) : 41000
 cost(예측값과 실제값의 편차) : 0.61256474
# 예측되는 사망자 수 :  [1.4433684]

 step(학습 횟수) : 41500
 cost(예측값과 실제값의 편차) : 0.6105928
# 예측되는 사망자 수 :  [1.4313354]

 step(학습 횟수) : 42000
 cost(예측값과 실제값의 편차) : 0.6086329
# 예측되는 사망자 수 :  [1.4198911]

 step(학습 횟수) : 42500
 cost(예측값과 실제값의 편차) : 0.6067093
# 예측되는 사망자 수 :  [1.4090323]

 step(학습 횟수) : 43000
 cost(예측값과 실제값의 편차) : 0.60480034
# 예측되는 사망자 수 :  [1.3987021]

 step(학습 횟수) : 43500
 cost(예측값과 실제값의 편차) : 0.6029098
# 예측되는 사망자 수 :  [1.3888774]

 step(학습 횟수) : 44000
 cost(예측값과 실제값의 편차) : 0.60104734
# 예측되는 사망자 수 :  [1.3795457]

 step(학습 횟수) : 44500
 cost(예측값과 실제값의 편차) : 0.5991979
# 예측되는 사망자 수 :  [1.3706598]

 step(학습 횟수) : 45000
 cost(예측값과 실제값의 편차) : 0.5973714
# 예측되는 사망자 수 :  [1.3622088]

 step(학습 횟수) : 45500
 cost(예측값과 실제값의 편차) : 0.5955672
# 예측되는 사망자 수 :  [1.3541708]

 step(학습 횟수) : 46000
 cost(예측값과 실제값의 편차) : 0.5937734
# 예측되는 사망자 수 :  [1.3465083]

 step(학습 횟수) : 46500
 cost(예측값과 실제값의 편차) : 0.59200686
# 예측되는 사망자 수 :  [1.3392224]

 step(학습 횟수) : 47000
 cost(예측값과 실제값의 편차) : 0.59025776
# 예측되는 사망자 수 :  [1.3322804]

 step(학습 횟수) : 47500
 cost(예측값과 실제값의 편차) : 0.5885174
# 예측되는 사망자 수 :  [1.3256559]

 step(학습 횟수) : 48000
 cost(예측값과 실제값의 편차) : 0.5868092
# 예측되는 사망자 수 :  [1.3193573]

 step(학습 횟수) : 48500
 cost(예측값과 실제값의 편차) : 0.5851124
# 예측되는 사망자 수 :  [1.3133453]

 step(학습 횟수) : 49000
 cost(예측값과 실제값의 편차) : 0.58342516
# 예측되는 사망자 수 :  [1.307601]

 step(학습 횟수) : 49500
 cost(예측값과 실제값의 편차) : 0.5817702
# 예측되는 사망자 수 :  [1.3021395]

 step(학습 횟수) : 50000
 cost(예측값과 실제값의 편차) : 0.5801234
# 예측되는 사망자 수 :  [1.2969162]

 step(학습 횟수) : 50500
 cost(예측값과 실제값의 편차) : 0.5784887
# 예측되는 사망자 수 :  [1.2919215]

 step(학습 횟수) : 51000
 cost(예측값과 실제값의 편차) : 0.576883
# 예측되는 사망자 수 :  [1.287167]

 step(학습 횟수) : 51500
 cost(예측값과 실제값의 편차) : 0.57528615
# 예측되는 사망자 수 :  [1.2826139]

 step(학습 횟수) : 52000
 cost(예측값과 실제값의 편차) : 0.5737001
# 예측되는 사망자 수 :  [1.2782536]

 step(학습 횟수) : 52500
 cost(예측값과 실제값의 편차) : 0.5721437
# 예측되는 사망자 수 :  [1.2741001]

 step(학습 횟수) : 53000
 cost(예측값과 실제값의 편차) : 0.5705943
# 예측되는 사망자 수 :  [1.2701154]

 step(학습 횟수) : 53500
 cost(예측값과 실제값의 편차) : 0.5690549
# 예측되는 사망자 수 :  [1.2662938]

 step(학습 횟수) : 54000
 cost(예측값과 실제값의 편차) : 0.5675449
# 예측되는 사망자 수 :  [1.26265]

 step(학습 횟수) : 54500
 cost(예측값과 실제값의 편차) : 0.5660423
# 예측되는 사망자 수 :  [1.2591486]

 step(학습 횟수) : 55000
 cost(예측값과 실제값의 편차) : 0.56454855
# 예측되는 사망자 수 :  [1.2557826]

 step(학습 횟수) : 55500
 cost(예측값과 실제값의 편차) : 0.5630831
# 예측되는 사망자 수 :  [1.252573]

 step(학습 횟수) : 56000
 cost(예측값과 실제값의 편차) : 0.5616269
# 예측되는 사망자 수 :  [1.2494824]

 step(학습 횟수) : 56500
 cost(예측값과 실제값의 편차) : 0.56017655
# 예측되는 사망자 수 :  [1.2465055]

 step(학습 횟수) : 57000
 cost(예측값과 실제값의 편차) : 0.5587541
# 예측되는 사망자 수 :  [1.2436621]

 step(학습 횟수) : 57500
 cost(예측값과 실제값의 편차) : 0.5573418
# 예측되는 사망자 수 :  [1.240922]

 step(학습 횟수) : 58000
 cost(예측값과 실제값의 편차) : 0.5559355
# 예측되는 사망자 수 :  [1.2382765]

 step(학습 횟수) : 58500
 cost(예측값과 실제값의 편차) : 0.55455333
# 예측되는 사망자 수 :  [1.2357423]

 step(학습 횟수) : 59000
 cost(예측값과 실제값의 편차) : 0.5531832
# 예측되는 사망자 수 :  [1.2333]

 step(학습 횟수) : 59500
 cost(예측값과 실제값의 편차) : 0.55182064
# 예측되는 사망자 수 :  [1.2309372]

 step(학습 횟수) : 60000
 cost(예측값과 실제값의 편차) : 0.5504762
# 예측되는 사망자 수 :  [1.2286645]

 step(학습 횟수) : 60500
 cost(예측값과 실제값의 편차) : 0.5491479
# 예측되는 사망자 수 :  [1.226477]

 step(학습 횟수) : 61000
 cost(예측값과 실제값의 편차) : 0.5478271
# 예측되는 사망자 수 :  [1.2243549]

 step(학습 횟수) : 61500
 cost(예측값과 실제값의 편차) : 0.5465171
# 예측되는 사망자 수 :  [1.222303]

 step(학습 횟수) : 62000
 cost(예측값과 실제값의 편차) : 0.5452309
# 예측되는 사망자 수 :  [1.2203323]

 step(학습 횟수) : 62500
 cost(예측값과 실제값의 편차) : 0.54395133
# 예측되는 사망자 수 :  [1.218417]

 step(학습 횟수) : 63000
 cost(예측값과 실제값의 편차) : 0.5426778
# 예측되는 사망자 수 :  [1.2165543]

 step(학습 횟수) : 63500
 cost(예측값과 실제값의 편차) : 0.54142916
# 예측되는 사망자 수 :  [1.2147672]

 step(학습 횟수) : 64000
 cost(예측값과 실제값의 편차) : 0.54018855
# 예측되는 사망자 수 :  [1.2130287]

 step(학습 횟수) : 64500
 cost(예측값과 실제값의 편차) : 0.53895515
# 예측되는 사망자 수 :  [1.211333]

 step(학습 횟수) : 65000
 cost(예측값과 실제값의 편차) : 0.53773737
# 예측되는 사망자 수 :  [1.209693]

 step(학습 횟수) : 65500
 cost(예측값과 실제값의 편차) : 0.5365363
# 예측되는 사망자 수 :  [1.2081065]

 step(학습 횟수) : 66000
 cost(예측값과 실제값의 편차) : 0.535342
# 예측되는 사망자 수 :  [1.2065556]

 step(학습 횟수) : 66500
 cost(예측값과 실제값의 편차) : 0.53415346
# 예측되는 사망자 수 :  [1.2050409]

 step(학습 횟수) : 67000
 cost(예측값과 실제값의 편차) : 0.5329913
# 예측되는 사망자 수 :  [1.203584]

 step(학습 횟수) : 67500
 cost(예측값과 실제값의 편차) : 0.53183377
# 예측되는 사망자 수 :  [1.2021575]

 step(학습 횟수) : 68000
 cost(예측값과 실제값의 편차) : 0.5306827
# 예측되는 사망자 수 :  [1.2007577]

 step(학습 횟수) : 68500
 cost(예측값과 실제값의 편차) : 0.52954745
# 예측되는 사망자 수 :  [1.1994016]

 step(학습 횟수) : 69000
 cost(예측값과 실제값의 편차) : 0.5284282
# 예측되는 사망자 수 :  [1.1980815]

 step(학습 횟수) : 69500
 cost(예측값과 실제값의 편차) : 0.5273141
# 예측되는 사망자 수 :  [1.1967838]

 step(학습 횟수) : 70000
 cost(예측값과 실제값의 편차) : 0.5262056
# 예측되는 사망자 수 :  [1.1955075]

 step(학습 횟수) : 70500
 cost(예측값과 실제값의 편차) : 0.52512115
# 예측되는 사망자 수 :  [1.1942805]

 step(학습 횟수) : 71000
 cost(예측값과 실제값의 편차) : 0.5240429
# 예측되는 사망자 수 :  [1.1930717]

 step(학습 횟수) : 71500
 cost(예측값과 실제값의 편차) : 0.52296966
# 예측되는 사망자 수 :  [1.1918818]

 step(학습 횟수) : 72000
 cost(예측값과 실제값의 편차) : 0.5219081
# 예측되는 사망자 수 :  [1.1907173]

 step(학습 횟수) : 72500
 cost(예측값과 실제값의 편차) : 0.5208652
# 예측되는 사망자 수 :  [1.1895875]

 step(학습 횟수) : 73000
 cost(예측값과 실제값의 편차) : 0.5198274
# 예측되는 사망자 수 :  [1.1884686]

 step(학습 횟수) : 73500
 cost(예측값과 실제값의 편차) : 0.5187954
# 예측되는 사망자 수 :  [1.1873647]

 step(학습 횟수) : 74000
 cost(예측값과 실제값의 편차) : 0.5177788
# 예측되는 사망자 수 :  [1.186292]

 step(학습 횟수) : 74500
 cost(예측값과 실제값의 편차) : 0.5167751
# 예측되는 사망자 수 :  [1.1852366]

 step(학습 횟수) : 75000
 cost(예측값과 실제값의 편차) : 0.5157766
# 예측되는 사망자 수 :  [1.1841983]

 step(학습 횟수) : 75500
 cost(예측값과 실제값의 편차) : 0.5147824
# 예측되는 사망자 수 :  [1.1831614]

 step(학습 횟수) : 76000
 cost(예측값과 실제값의 편차) : 0.5138108
# 예측되는 사망자 수 :  [1.1821666]

 step(학습 횟수) : 76500
 cost(예측값과 실제값의 편차) : 0.5128451
# 예측되는 사망자 수 :  [1.1811781]

 step(학습 횟수) : 77000
 cost(예측값과 실제값의 편차) : 0.5118845
# 예측되는 사망자 수 :  [1.180197]

 step(학습 횟수) : 77500
 cost(예측값과 실제값의 편차) : 0.51092887
# 예측되는 사망자 수 :  [1.1792271]

 step(학습 횟수) : 78000
 cost(예측값과 실제값의 편차) : 0.509996
# 예측되는 사망자 수 :  [1.1782858]

 step(학습 횟수) : 78500
 cost(예측값과 실제값의 편차) : 0.5090674
# 예측되는 사망자 수 :  [1.1773484]

 step(학습 횟수) : 79000
 cost(예측값과 실제값의 편차) : 0.50814474
# 예측되는 사망자 수 :  [1.1764264]

 step(학습 횟수) : 79500
 cost(예측값과 실제값의 편차) : 0.5072265
# 예측되는 사망자 수 :  [1.1755065]

 step(학습 횟수) : 80000
 cost(예측값과 실제값의 편차) : 0.5063295
# 예측되는 사망자 수 :  [1.1746143]

 step(학습 횟수) : 80500
 cost(예측값과 실제값의 편차) : 0.50543785
# 예측되는 사망자 수 :  [1.1737226]

 step(학습 횟수) : 81000
 cost(예측값과 실제값의 편차) : 0.50455016
# 예측되는 사망자 수 :  [1.1728307]

 step(학습 횟수) : 81500
 cost(예측값과 실제값의 편차) : 0.503668
# 예측되는 사망자 수 :  [1.1719579]

 step(학습 횟수) : 82000
 cost(예측값과 실제값의 편차) : 0.5028071
# 예측되는 사망자 수 :  [1.1711141]

 step(학습 횟수) : 82500
 cost(예측값과 실제값의 편차) : 0.50194955
# 예측되는 사망자 수 :  [1.1702708]

 step(학습 횟수) : 83000
 cost(예측값과 실제값의 편차) : 0.50109696
# 예측되는 사망자 수 :  [1.1694273]

 step(학습 횟수) : 83500
 cost(예측값과 실제값의 편차) : 0.5002483
# 예측되는 사망자 수 :  [1.1685842]

 step(학습 횟수) : 84000
 cost(예측값과 실제값의 편차) : 0.499421
# 예측되는 사망자 수 :  [1.1677685]

 step(학습 횟수) : 84500
 cost(예측값과 실제값의 편차) : 0.49859768
# 예측되는 사망자 수 :  [1.166955]

 step(학습 횟수) : 85000
 cost(예측값과 실제값의 편차) : 0.49777934
# 예측되는 사망자 수 :  [1.1661413]

 step(학습 횟수) : 85500
 cost(예측값과 실제값의 편차) : 0.49696395
# 예측되는 사망자 수 :  [1.165328]

 step(학습 횟수) : 86000
 cost(예측값과 실제값의 편차) : 0.49616677
# 예측되는 사망자 수 :  [1.1645367]

 step(학습 횟수) : 86500
 cost(예측값과 실제값의 편차) : 0.49537644
# 예측되는 사망자 수 :  [1.163753]

 step(학습 횟수) : 87000
 cost(예측값과 실제값의 편차) : 0.49459046
# 예측되는 사망자 수 :  [1.1629691]

 step(학습 횟수) : 87500
 cost(예측값과 실제값의 편차) : 0.49380797
# 예측되는 사망자 수 :  [1.1621857]

 step(학습 횟수) : 88000
 cost(예측값과 실제값의 편차) : 0.49303836
# 예측되는 사망자 수 :  [1.1614163]

 step(학습 횟수) : 88500
 cost(예측값과 실제값의 편차) : 0.49227992
# 예측되는 사망자 수 :  [1.1606624]

 step(학습 횟수) : 89000
 cost(예측값과 실제값의 편차) : 0.4915264
# 예측되는 사망자 수 :  [1.1598895]

 step(학습 횟수) : 89500
 cost(예측값과 실제값의 편차) : 0.49077532
# 예측되는 사망자 수 :  [1.159117]

 step(학습 횟수) : 90000
 cost(예측값과 실제값의 편차) : 0.4900316
# 예측되는 사망자 수 :  [1.1583482]

 step(학습 횟수) : 90500
 cost(예측값과 실제값의 편차) : 0.48930463
# 예측되는 사망자 수 :  [1.1576055]

 step(학습 횟수) : 91000
 cost(예측값과 실제값의 편차) : 0.4885814
# 예측되는 사망자 수 :  [1.1568626]

 step(학습 횟수) : 91500
 cost(예측값과 실제값의 편차) : 0.48786148
# 예측되는 사망자 수 :  [1.15612]

 step(학습 횟수) : 92000
 cost(예측값과 실제값의 편차) : 0.48714557
# 예측되는 사망자 수 :  [1.1553768]

 step(학습 횟수) : 92500
 cost(예측값과 실제값의 편차) : 0.48644352
# 예측되는 사망자 수 :  [1.1546543]

 step(학습 횟수) : 93000
 cost(예측값과 실제값의 편차) : 0.48575068
# 예측되는 사망자 수 :  [1.1539412]

 step(학습 횟수) : 93500
 cost(예측값과 실제값의 편차) : 0.48506072
# 예측되는 사망자 수 :  [1.153224]

 step(학습 횟수) : 94000
 cost(예측값과 실제값의 편차) : 0.4843739
# 예측되는 사망자 수 :  [1.152492]

 step(학습 횟수) : 94500
 cost(예측값과 실제값의 편차) : 0.4836937
# 예측되는 사망자 수 :  [1.1517642]

 step(학습 횟수) : 95000
 cost(예측값과 실제값의 편차) : 0.483029
# 예측되는 사망자 수 :  [1.1510623]

 step(학습 횟수) : 95500
 cost(예측값과 실제값의 편차) : 0.48236772
# 예측되는 사망자 수 :  [1.1503606]

 step(학습 횟수) : 96000
 cost(예측값과 실제값의 편차) : 0.48171073
# 예측되는 사망자 수 :  [1.1496584]

 step(학습 횟수) : 96500
 cost(예측값과 실제값의 편차) : 0.48105595
# 예측되는 사망자 수 :  [1.1489568]

 step(학습 횟수) : 97000
 cost(예측값과 실제값의 편차) : 0.48041156
# 예측되는 사망자 수 :  [1.148263]

 step(학습 횟수) : 97500
 cost(예측값과 실제값의 편차) : 0.47977874
# 예측되는 사망자 수 :  [1.1475725]

 step(학습 횟수) : 98000
 cost(예측값과 실제값의 편차) : 0.47914898
# 예측되는 사망자 수 :  [1.1468816]

 step(학습 횟수) : 98500
 cost(예측값과 실제값의 편차) : 0.4785225
# 예측되는 사망자 수 :  [1.1461911]

 step(학습 횟수) : 99000
 cost(예측값과 실제값의 편차) : 0.47789946
# 예측되는 사망자 수 :  [1.1455002]

 step(학습 횟수) : 99500
 cost(예측값과 실제값의 편차) : 0.47728896
# 예측되는 사망자 수 :  [1.14483]

 step(학습 횟수) : 100000
 cost(예측값과 실제값의 편차) : 0.47668612
# 예측되는 사망자 수 :  [1.144161]

In [30]:
saver=tf.train.Saver()
save_path=saver.save(sess, "./model/model.ckpt")

print("\n ##### 학습된 모델을 저장하였습니다. #####")

 ##### 학습된 모델을 저장하였습니다. #####

In [31]:
import numpy as np
#import tensorflow as tf
import tensorflow.compat.v1 as tf

tf.disable_v2_behavior()

tf.reset_default_graph()

X=tf.placeholder(tf.float32, shape=[None, 5])
y=tf.placeholder(tf.float32, shape=[None, 1])

W=tf.Variable(tf.random_normal([5,1]), name="weight")
b=tf.Variable(tf.random_normal([1]), name="bias")

hypothesis=tf.matmul(X, W) + b

saver=tf.train.Saver()
init=tf.global_variables_initializer()

In [32]:
temp=float(input('온  도 : '))
rain=float(input('강수량 : '))
windflow=float(input('풍  속 : '))
humidity=float(input('습  도 : '))
snowfall=float(input('적  설 : '))

온  도 :  15
강수량 :  30
풍  속 :  20
습  도 :  50
적  설 :  0

In [33]:
with tf.Session() as sess:
    sess.run(init)
    save_path="./model/model.ckpt"
    saver.restore(sess, save_path)
    
    data=((temp, rain, windflow, humidity, snowfall),)
    arr=np.array(data, dtype=np.float32)
    
    x_data=arr[:]
    dict=sess.run(hypothesis, feed_dict={X: x_data})
    
    print(dict[0])

INFO:tensorflow:Restoring parameters from ./model/model.ckpt
[-63.33673]